* {
  background-image: url("./images/lightning-strike-stormy-clouds-dark-sky-natural-phenomena-5k-5184x3456-5844.jpg");
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Fix the background image in place (it won't scroll with the page) */
  background-color: #cccccc; /* Fallback background color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #94a3b8;

  padding-top: 24px;
  padding-bottom: 36px;
  font-size: 3rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  border: 2px solid white;
  padding: 32px;
  gap: 28px;
  height: auto;
  border-radius: 12px;
  width: 100%;
}
.card svg {
  height: 2.5rem;
  fill: antiquewhite;
}
.card p {
  font-weight: 600;
  font-size: 1.2rem;
  color: #c7d2fe;
}
.card span {
  font-weight: 400;
  font-size: 1.1rem;
  color: #cbd5e1;
}
.card {
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  height: auto;
  padding: 24px;
}
.card svg:hover {
  fill: rgb(255, 227, 66);
}
.card-actions {
  display: flex;
  padding-top: 8px;
  justify-content: space-around;
  align-items: center;
}
.toggle-btn {
  border: 1px solid white;
  padding: 12px 18px;
  border-radius: 8px;
  color: bisque;
  font-size: 1rem;
}
.toggle-btn:hover {
  background: rgba(250, 255, 176, 0.336);
  cursor: pointer;
}
.trash-btn {
  border: none;
}
.trash-btn:hover {
  cursor: pointer;
}
.new-book-btn {
  margin-top: 24px;
  border: 1px solid white;
  padding: 12px 18px;
  border-radius: 8px;
  color: bisque;
  font-size: 2rem;
}
.new-book-btn:hover {
  background: rgba(250, 255, 176, 0.336);
  cursor: pointer;
}
